<div><img style="float: right" src="/images/shaughn.png" /></div>
<p><br />
  Hi I’m Shaughn Finnerty, a fourth year CS student at University of Ottawa with a passion for exploring all things tech.
  This website is one of my first attempts using Angular JS, and I have decided to dedicate it as a sandbox for deploying/testing
  any personal projects that I work on when not studying for school or working a coop position. That being said, the site will house
  various projects to reflect my pursuit to extend my knowledge on the seemingly never-ending frameworks and toolkits that are
  flooding the tech world these days. Feel free to also check out my blog <a href="http://finnergizer.github.io">here</a> where
  I will document any cool problems or progress as a software developer. </p>

<p>When I am not at my desk studying or behind my keyboard, I enjoy hunting, fishing, snowboarding, wakeboarding - pretty
  well all things outdoors. Beginner photography is also an interest of mine (emphasis on beginner), as well as playing
  guitar.</p>

<p>Since starting CS studies, I have had various work experience as a software developer at Versaterm, NetFore Systems, and some very
  cool government organizations.  </p>

<p>Got a cool, up and coming framework, plugin, or app you want to share?
  Want me to write about a specific topic?
  Want to discuss or work on some projects?
  <a href="mailto:finnergizer@gmail.com"> Shoot me a message!</a></p>
