<script>

</script>
<p>This is the Angular Facebook Event Plugin. Log in to your Facebook account, then paste a URL to an Event which you would like to parse
  information from. Using the Facebook API, this plugin will grab the necessary fields and populate the inputs. Useful for event
  sites wishing to allow content posters a quick way to grab the information that they have already posted and published on Facebook.</p>
<div class="container">
  <div class="row">
    <div class="col-md-3"><label> FB Event URL:</label></div>
    <div class="col-md-9"><input type="text" style="width:100%"
                                 ng-model="fbEventUrl"/></div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <label>Name:</label></div>
    <div class="col-md-9">
      <input type="text"
             ng-model="fbEvent.name"
             style="width:100%"/>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <label>Description:</label></div>
    <div class="col-md-9">
      <textarea ng-model="fbEvent.description"
                style="width:100%; height: 10em;"></textarea>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <label>Location:</label></div>
    <div class="col-md-9">
      <input type="text"
             ng-model="fbEvent.location"
             style="width:100%"/>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <label>Venue:</label></div>
    <div class="col-md-9">
      <input type="text"
             ng-model="fbEvent.venue"
             style="width:100%"/>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <label>Start Time:</label></div>
    <div class="col-md-9">
      <input type="datetime"
             ng-model="fbEvent.start_time"
             style="width:100%"/>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <label>End Time:</label></div>
    <div class="col-md-9">
      <input type="datetime"
             ng-model="fbEvent.end_time"
             style="width:100%"/>
    </div>
  </div>


  <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
  </fb:login-button>

  <div id="status">
  </div>
  <div>Event Id: {{eventId}}</div>
</div>
