<div class="jumbotron">
  <p>This is a simple sandbox for navigating various development efforts and testing in various languages and frameworks. The core of this web page was developed using Angular JS.</p>
</div>

<div class="row marketing">

</div>
